@page
@model primaWebApp.Pages.RISPOSTAModel
@{
}
<html>
<body>
    <h1>Ue belin</h1>
    <p>Il testo scritto dall'utente @Model.NomeUtente @Model.CognomeUtente è <b>@Model.TestoUtente</b></p>
    <p>Risultato query  @Model.query()</p>
</body>
</html>